<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div lass="navbar navbar-light navbar-fixed-top" style="background-color:lightcyan; width:1150px; margin-left:105px; opacity:0.77; font-family:'Comic Sans MS'; font-weight:400; font-style:italic; font-size:larger; color:darkblue; border-radius:9px; border-width:1px">
        <div class="container">
            <div class="navbar-header" style="margin-left:220px">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Sajt - Rent - A - Car", "Index", "Vozilo", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Pocetna strana", "Index", "Vozilo")</li>
                    @if (Session["Korisnik"] == null)
                    {
                        <li>@Html.ActionLink("Prijavite se", "Prijava", "Registracija")</li>
                        <li>@Html.ActionLink("Registrujte se", "Registracija", "Registracija")</li>
                    }
                    @if (Session["Korisnik"] != null)
                    {
                        <li>@Html.ActionLink("Profil", "ProfilKorisnika", "Registracija")</li>

                        Rent_A_Car_PR_7_2016.Models.Korisnik korisnik = (Rent_A_Car_PR_7_2016.Models.Korisnik)Session["Korisnik"];
                        if (korisnik.Uloga.Equals(Rent_A_Car_PR_7_2016.Models.UlogaKorisnika.GLAVNI_MENADZER))
                        {
                            <li>@Html.ActionLink("Lista korisnika", "ListaKupaca", "Registracija")</li>
                        }

                        <li>@Html.ActionLink("Odjavite se", "Logout", "Registracija")</li>

                    }

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
