﻿@using Rent_A_Car_PR_7_2016.Models
@model IEnumerable<Vozilo>
@{
    ViewBag.Title = "ProfilVozila";
}

<body background="~/Images/pozadina15a.jpg" style="background-repeat:repeat; background-size:1460px 840px">

    <br />
    <br />
    <br />

    <table style="background-color:aliceblue; border-radius:9px; border-width:1px; opacity:0.9; border-collapse:separate; border-spacing:0.85em; font-family:'Comic Sans MS'" align="center" class="table-striped" width="600" height="370">
        <caption style="text-align:center; border-radius:9px; border-width:1px; background-color:aliceblue; border:thin; border-color:aquamarine; font-family:'Comic Sans MS', Times, serif; font-style:italic; opacity:0.8; font-weight:500; color:darkblue; font-size:19pt">Profil vozila - @ViewBag.vozilo.MarkaVozila @ViewBag.vozilo.ModelVozila</caption>
        <tr>
            <th>Id vozila</th>
            <td>@ViewBag.vozilo.Id</td>
        </tr>
        <tr>
            <th>Marka vozila</th>
            <td>@ViewBag.vozilo.MarkaVozila</td>
        </tr>
        <tr>
            <th>Model vozila</th>
            <td>@ViewBag.vozilo.ModelVozila</td>
        </tr>
        <tr>
            <th>Tip vozila</th>
            <td>@ViewBag.vozilo.TipVozila.ToString()</td>
        </tr>
        <tr>
            <th>Broj mesta u vozilu</th>
            <td>@ViewBag.vozilo.BrojMestaUVozilu</td>
        </tr>
        <tr>
            <th>Cena po danu</th>
            <td>@ViewBag.vozilo.CenaPoDanu</td>
        </tr>
        <tr>
            <th>Ulica</th>
            <td>@ViewBag.vozilo.Ulica</td>
        </tr>
        <tr>
            <th>Broj</th>
            <td>@ViewBag.vozilo.Broj</td>
        </tr>
        <tr>
            <th>Mesto</th>
            <td>@ViewBag.vozilo.Mesto</td>
        </tr>
        <tr>
            <th>Postanski broj</th>
            <td>@ViewBag.vozilo.PostanskiBroj</td>
        </tr>
        <tr>
            <th>Poster</th>
            <td>@ViewBag.vozilo.Poster</td>
        </tr>
        @if (Session["Korisnik"] != null)
        {
            Rent_A_Car_PR_7_2016.Models.Korisnik korisnik = (Rent_A_Car_PR_7_2016.Models.Korisnik)Session["Korisnik"];
            if (korisnik.Uloga.Equals(Rent_A_Car_PR_7_2016.Models.UlogaKorisnika.KLIJENT) || korisnik.Uloga.Equals(Rent_A_Car_PR_7_2016.Models.UlogaKorisnika.POWER_KLIJENT))
            {
                <tr>
                    <th>Zelite popust?</th>
                    <td>Napravite bar 3 rezervacije i ostvaricete popust za sledece!</td>
                </tr>
            }
        }
        <tr>
            @if (Session["Korisnik"] != null)
            {
                Rent_A_Car_PR_7_2016.Models.Korisnik korisnik = (Rent_A_Car_PR_7_2016.Models.Korisnik)Session["Korisnik"];
                if (korisnik.Uloga.Equals(Rent_A_Car_PR_7_2016.Models.UlogaKorisnika.MENADZER) || korisnik.Uloga.Equals(Rent_A_Car_PR_7_2016.Models.UlogaKorisnika.GLAVNI_MENADZER))
                {
                    <th>Izmeni informacije i/ili izbrisi vozilo</th>
                    <td>
                        <form action="~/Vozilo/IzmeniVozilo" method="post">
                            <input type="text" name="markaVozila" value="@ViewBag.vozilo.MarkaVozila" hidden />
                            <input type="submit" class="btn btn-info" value="Izmeni" style="border-radius:9px; width:100px" />
                        </form>
                        <form action="~/Vozilo/ObrisiVozilo" method="post">
                            <input type="text" name="markaVozil" value="@ViewBag.vozilo.MarkaVozila" hidden />
                            <input type="submit" class="btn btn-danger" value="Izbrisi" style="border-radius:9px; width:100px" />
                        </form>
                    </td>
                }
            }
            @if (Session["Korisnik"] != null)
            {
                Rent_A_Car_PR_7_2016.Models.Korisnik korisnik = (Rent_A_Car_PR_7_2016.Models.Korisnik)Session["Korisnik"];
                if (korisnik.Uloga.Equals(Rent_A_Car_PR_7_2016.Models.UlogaKorisnika.KLIJENT) || korisnik.Uloga.Equals(Rent_A_Car_PR_7_2016.Models.UlogaKorisnika.POWER_KLIJENT))
                {
                    <th>Rezerviši vozilo</th>
                    <td>
                        <form action="~/Vozilo/RezervisiVozilo" method="post">
                            <label style="font-weight:100">Unesite datum vaše rezervacije:</label>
                            <br />
                            <input type="date" name="DatumRezervacije" style="border-radius:9px; border-width:1px" />
                            <input type="text" name="IdVozilo" value="@ViewBag.vozilo.Id" hidden />
                            <input type="submit" class="btn btn-success" value="Rezerviši" style="border-radius:9px; width:100px" />
                            <br />
                        </form>
                    </td>
                }
            }
        </tr>
    </table>
    <div style="margin-left:380px; font-family:'Comic Sans MS'; background-color:lightcoral; width:427px; font-size:16px">
        @ViewBag.Message
    </div>
</body>


